@font-face {
  font-family: FiraSans-extrabold;
  src: url(fonts/FiraSans-Bold.ttf);
}

:root {
  font-family: FiraSans-extrabold, Inter, Avenir, Helvetica, Arial, sans-serif;

  color: #f6f6f6;
  background-color: #292829;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

textarea {
  width: 100%;
}

img{
  height: 2em;
  width: 2em;
}

.select-file {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  height: 97vh;
}

::-moz-selection { /* Code for Firefox */
  color: #ffffff;
  background: #d88939;
}

::selection {
  color: #ffffff;
  background: #d88939;
}

a {
  color: #d88939;
}

.credit {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}


h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #ffffff;
  background-color: #292829;
  transition: border-color 0.25s, color 0.25s;
  border-color: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #d88939;
  color: #d88939;
}
button:active {
  border-color: #d88939;
  background-color: #353435;
}

input,
button {
  outline: none;
}

.slice-button{
  border-color: #292829;
  color: #292829;
  background-color: #d88939;
}

.slice-button:hover{
  border-color: #d88939;
  color: #d88939;
  background-color: #292829;
}

.slice-button:active {
  background-color: #353435;
}


#greet-input {
  margin-right: 5px;
}

.about_main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  background-color: #52796F;
  background-image:
  linear-gradient(45deg, #354F52 25%, transparent 25%, transparent 75%, #354F52 75%, #354F52), 
  linear-gradient(45deg, #354F52 25%, transparent 25%, transparent 75%, #354F52 75%, #354F52),
  linear-gradient(45deg, transparent, transparent 50%, #2F3E46 50%, #2F3E46);
  background-size: 100px 100px;
  background-position: 0 0, 50px 50px, 50px 0px;
  -webkit-animation: scroll 5s linear infinite;
}

@-webkit-keyframes scroll {
  from { background-position: 0 0, 50px 50px, 50px 0; }
  to { background-position: -100px -100px, -50px -50px, -50px -100px; }
}

progress::-moz-progress-bar { background: #d88939; }
progress::-webkit-progress-value { background: #d88939; }
progress {
  color: #d88939;
  width: 100%;
}

.progress_center {
  text-align: center;
}